#idleDiv .popup {
    position: relative;
    width: 35%;
    top: 20%;
    background-color: #fff;
    padding: 25px;
    margin:
        0 auto;
    text-align: center;
}

#idleDiv .CountDownText {
    margin: 10px;
    font-size: 18px;
}

#idleDiv .popup .ok-btn {
    padding: 5px 15px;
    background-color: blue;
    display: inline-block;
    color:
        #fff;
    cursor: pointer;
}

#warningDiv .popup {
    position: relative;
    width: 35%;
    top: 20%;
    background-color: #fff;
    padding:
        25px;
    margin: 0 auto;
    text-align: center;
}

#warningDiv .popup .btn-wrapper {
    display: flex;
    margin-top: 30px;
    justify-content: space-around;
}

#warningDiv .popup .continue-btn,
#warningDiv .popup .exit-btn {
    padding: 5px 15px;
    background-color: blue;
    display: inline-block;
    color: #fff;
    cursor: pointer;
}

@media (max-width:767px) {
    #idleDiv .popup {
        width: 90%;
        top: 20%;
    }

    #warningDiv .popup {
        width: 90%;
        top: 20%;
    }
}